<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header',{ name: user.name }) %>
    <input type="number" id="user-id" style="display: none;" value="<%= user.id %>" disabled>
    <input type="number" id="list-id" style="display: none;" value="<%= user.list_id %>" disabled>
    <main class="mx-5">
      <h4><%= __('ui.dashboard.personal_list') %></h4>
      <button type="button" class='btn btn-outline-primary btn-sm' onclick="createTask()"><%= __('ui.task.create') %></button>
      <div class="container-fluid my-3 d-flex flex-column flex-xl-row justify-content-xl-between align-items-start">
        <div class="col-6 col-xl-3 my-lg-1 text-bg-secondary rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.upcoming') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 50vh;" id="upcoming-tasks">

          </div>
        </div>
        <div class="col-6 col-xl-3 my-lg-1 text-bg-danger rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.started') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 50vh;" id="started-tasks">

          </div>
        </div>
        <div class="col-6 col-xl-3 my-lg-1 text-bg-warning rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.ongoing') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 50vh;" id="ongoing-tasks">

          </div>
        </div>
        <div class="col-6 col-xl-3 my-lg-1 text-bg-success rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.completed') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 50vh;" id="completed-tasks">

          </div>
        </div>
      </div>
    </main>
    <script src="/public/scripts/ui/task_create.js"></script>
    <script src="/public/scripts/fetching/user_tasks.js"></script>
    <%- include('../partials/structural/footer') %>
  </body>
</html>