<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header', { name: user.name }) %>
    <main class="mx-5">
      <input type="number" id="user-id" style="display: none;" value="<%= user.id %>" disabled>
      <h1 class="fs-3"><%= __('ui.dashboard.welcome', { name: user.name }) %></h1>
      <a class="btn btn-outline-primary btn-sm" href="/settings"><%= __('ui.dashboard.settings') %></a>
      <div class="container-fluid my-3">
        <div class="p-3 bg-body-secondary rounded-3">
          <span><%= __('ui.dashboard.system_users') %></span>
          <div class="p-2 mt-2 bg-body-tertiary rounded-3">
            <div class="m-2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col"><%= __('ui.name') %></th>
                    <th scope="col"><%= __('ui.email') %></th>
                    <th scope="col"><%= __('ui.phone') %></th>
                    <th scope="col"><%= __('ui.role') %></th>
                    <th scope="col"><%= __('ui.is_blocked') %></th>
                    <th scope="col"><%= __('ui.actions') %></th>
                  </tr>
                </thead>
                <tbody id="users-table">

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid my-3">
        <div class="p-3 bg-body-secondary rounded-3">
          <span><%= __('ui.dashboard.system_companies') %></span>
          <a class="btn btn-outline-primary btn-sm ms-2" href="/company/create"><%= __('ui.company.create') %></a>
          <div class="p-2 mt-2 bg-body-tertiary rounded-3">
            <div class="m-2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col"><%= __('ui.entity_name') %></th>
                    <th scope="col"><%= __('ui.entity_email') %></th>
                    <th scope="col"><%= __('ui.entity_phone') %></th>
                    <th scope="col"><%= __('ui.actions') %></th>
                  </tr>
                </thead>
                <tbody id="companies-table">

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <script src="/public/scripts/ui/displayAdminDashboard.js"></script>
    <%- include('../partials/structural/footer') %>
  </body>
</html>