<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header', { name: user.name }) %>
    <main class="mx-5">
      <h1><%= __('ui.dashboard.welcome', { name: user.name }) %></h1>
      <input type="number" id="user-id" style="display: none;" value="<%= user.id %>" disabled>
      <div class="container-fluid my-3">
        <div class="p-3 bg-body-secondary rounded-3">
          <span><%= __('ui.dashboard.current_tasks') %></span>
          <div class="p-2 bg-body-tertiary rounded-3" id="user-tasks"></div>
        </div>
      </div>

      <div class="container-fluid overflow-hidden my-3">
        <div class="p-3 bg-body-secondary rounded-3">
          <span><%= __('ui.dashboard.goto') %></span>
          <div class="row p-2" id="select-div"></div>
        </div>
      </div>
    </main>
    <script src="/public/scripts/fetching/getTasks.js"></script>
    <script src="/public/scripts/ui/displaySelect.js"></script>
    <%- include('../partials/structural/footer') %>
  </body>
</html>