<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header',{ name: user.name }) %>
    <input type="number" id="user-id" style="display: none;" value="<%= user.id %>" disabled>
    <input type="number" id="team-id" style="display: none;" value="<%= team.id %>" disabled>
    <input type="text" id="team-manager" style="display: none;" value="<%= team.is_manager %>" disabled>
    <main class="mx-5">
      <h4><%= __('ui.dashboard.team_list', { team: team.name }) %></h4>
      <% if (team.is_manager === true) { %> <a class='btn btn-outline-primary btn-sm' href='#'><%= __('ui.task.create') %></a> <% } %>
      <div class="container-fluid my-3 d-flex flex-column flex-xl-row justify-content-xl-between">
        <div class="col-12 col-xl-3 my-lg-1 text-bg-secondary rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.upcoming') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 60vh;" id="upcoming-tasks">

          </div>
        </div>
        <div class="col-12 col-xl-3 my-lg-1 text-bg-danger rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.started') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 60vh;" id="started-tasks">

          </div>
        </div>
        <div class="col-12 col-xl-3 my-lg-1 text-bg-warning rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.ongoing') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 60vh;" id="ongoing-tasks">

          </div>
        </div>
        <div class="col-12 col-xl-3 my-lg-1 text-bg-success rounded-3 p-2">
          <span class="fs-5"><%= __('tasks.statuses.completed') %></span>
          <div class="container-fluid bg-body-tertiary rounded-3 my-1 p-1" style="min-height: 60vh;" id="completed-tasks">

          </div>
        </div>
      </div>

      <% if(team.is_manager === true) { %>
        <div class="container-fluid my-5">
          <div class="p-3 bg-body-secondary rounded-3">
            <span><%= __('ui.team.members') %></span>
            <a class="btn btn-outline-primary btn-sm ms-2" href="/teams/create/<%= team.id %>"><%= __('ui.team.create') %></a>
            <div class="p-2 mt-2 bg-body-tertiary rounded-3">
              <div class="m-2">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><%= __('ui.name') %></th>
                      <th scope="col"><%= __('ui.email') %></th>
                      <th scope="col"><%= __('ui.phone') %></th>
                      <th scope="col"><%= __('ui.role') %></th>
                      <th scope="col"><%= __('ui.actions') %></th>
                    </tr>
                  </thead>
                  <tbody id="participants-table"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script src="/public/scripts/ui/team_manager.js"></script>
      <% } %>
    </main>
    <script src="/public/scripts/fetching/team_tasks.js"></script>
    <%- include('../partials/structural/footer') %>
  </body>
</html>