<!DOCTYPE html>
<html>
  <%- include('../partials/structural/head') %>
  <body>
    <%- include('../partials/structural/dashboard_header', { name: user.name }) %>
    <main class="mx-5">
      <h1><%= __('ui.company.createHeader') %></h1>
      
      <div class="col-10 col-md-6 col-xl-4 my-3">
        <form id="create-company-form">
          <div id="message-area"></div>
          <div class="form-floating">
            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="SIA TaskApp" autocomplete="company_name">
            <label for="company_name"><%= __('ui.entity_name') %></label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="company_email" name="company_email" placeholder="example@example.com" autocomplete="company_email">
            <label for="company_email"><%= __('ui.entity_email') %></label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="company_phone" name="company_phone" placeholder="+XXX00000000" autocomplete="company_phone">
            <label for="company_phone"><%= __('ui.entity_phone') %></label>
            <div class="form-text"><%= __('ui.register_ui.phoneformat') %></div>
          </div>
          <button class="btn btn-primary w-100 py-2 mb-1" type="submit"><%= __('ui.company.create') %></button>
          <a class="btn btn-outline-primary w-100 py-2" href="/home"><%= __('ui.return') %></a>
        </form>
      </div>
    </main>
    <script src="/public/scripts/forms/company_create.js"></script>
    <%- include('../partials/structural/footer') %>
  </body>
</html>